{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
  ],
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ],
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
    "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "simple-import-sort",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none",
        "requireLast": true
      }
    }],
    "@typescript-eslint/no-empty-function": ["error", {
      "allow": ["arrowFunctions"]
    }],
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-var-requires": 0,
    "no-debugger": "error",
    "no-console": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/prop-types": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "simple-import-sort/imports": ["error", {
      "groups": [
        ["^react"],
        ["^\\u0000"],
        ["^(@(?!App|Spec))?\\w"],
        ["^[^.]"],
        ["^\\."]
    ]}]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          {
            "accessibility": "no-public",
            "overrides": {
              "parameterProperties": "off"
            }
          }
        ],
        "@typescript-eslint/ban-ts-ignore": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
