// POSH Color Pallete

// Main Colors
$primary: #FFCC00;
$primary-dark: #E0B400;
$secondary: #00CCFF;
$secondary-dark: #00AAD4;
$tertiary: #FF005C;
$tertiary-dark: #C50047;
$error: #ff1919;
$success: #00fc00;

// Backgrounds
$background-black: #0a0b0d;
$background-darker: #101113;
$background-dark: #151618;
$background-medium-dark: #191a1c;
$background-medium: #222325;
$background-light: #262729;

// Greys & Whites
$white: #fff;
$off-white: #e0e1e3;
$grey-light: #c0c1c3;
$grey-medium-light: #909193;
$grey: #7a7b7d;

// Borders
$border-dark: #303133;

// Shadows
$shadow-black: 5px 7px 15px -4px #010204;
$shadow-light: 0px 8px 11px rgba(0, 0, 0, 0.25);

//loading skeleton
$loading-background: #151618;
$loading-shine: #282828;
