// POSH Color Pallete

// Main Colors
$primary: #FFCC00;
$primary-dark: #E0B400;
$secondary: #00CCFF;
$secondary-dark: #00AAD4;
$tertiary: #FF005C;
$tertiary-dark: #C50047;
$error: #ff1919;
$success: #00fc00;
$community-green: #51D300;

// Backgrounds
$background-black: #0a0b0d;
$background-darker: #101113;
$background-dark: #151618;
$background-medium-dark: #191a1c;
$background-medium: #222325;
$background-light: #262729;
$background-purple: #AB40FF;
$background-blue-purple-gradient: linear-gradient(90deg, rgb(1,164,255) 0%, rgb(173,0,255) 100%);
$background-red-blue-gradient: linear-gradient(90deg, #C50047 0%, #00CCFF 100%);
$background-sky-blue: #04A9D4;
$background-dark-gradient: linear-gradient(180deg, #17191b 0%, #040405 100%);;
$notification-gradient: linear-gradient(135deg, $background-dark, #3c4c6d);
$kickback-gradient: linear-gradient(90deg, #00ccff88 0%, #aa00ff88 100%);
$kickback-gradient-sidebar: linear-gradient(180deg, rgb(1,164,255) 0%, rgb(173,0,255) 100%);
$nft-gradient: linear-gradient(90deg, #C50047 0%, #00CCFF 100%);
$nft-gradient-sidebar: linear-gradient(180deg, #C50047 0%, #00CCFF 100%);
$signup-alt: #37805D;

// Greys & Whites
$white: #fff;
$off-white: #e0e1e3;
$grey-light: #c0c1c3;
$grey-medium-light: #909193;
$grey: #7a7b7d;

// Borders
$border-dark: #303133;

// Shadows
$shadow-black: 5px 7px 15px -4px #010204;
$shadow-light: 0px 8px 11px rgba(0, 0, 0, 0.25);

//Coinbase Blue
$coinbase-blue: #0052FE;

//loading skeleton
$loading-background: #151618;
$loading-shine: #282828;
