.poshInput {
    border-radius: 50px;
    border: 1px solid $grey;
    padding: 10px 16px;
    background: none;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    transition: .2s;
    flex-grow: 1;

    &::placeholder {
        color: $grey;
    }

    &:focus {
        outline: 1px solid $primary;
    }

    &.fullWidth {
        width: 100%;
    }

    &.square {
        border-radius: 10px;
    }

    &.icon {
        padding-left: 42px;
    }

    &.large {
        font-size: 22px;
    }
}

.poshTextArea {
    border-radius: 33px;
    border: 1px solid $grey;
    padding: 16px;
    background: none;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    transition: .2s;
    min-height: 200px;
    resize: none;

    &::placeholder {
        color: $grey;
    }

    &:focus {
        outline: 1px solid $primary;
    }
}

.poshInputHolder {
    min-width: 350px;
    width: 100%;
    position: relative;

    @include up-to-breakpoint($mobile) {
      width: 100%;
      min-width: 250px;
    }

    img {
      position: absolute;
      top: 12px;
      left: 16px;
      width: 18px;
      opacity: 0.7;
    }
}

.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    position: relative;
    @include up-to-breakpoint($mobile) {
        display: grid;
        gap: 5px;
    }
    &-icon {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 16px;
        font-size: 16px;
        color: #ccc;
        font-family: Arial;
        text-align: center;
        font-weight: 900;
        line-height: 1;
    }
    &-iconLarger {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 10px;
    }
}

.formWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 20px 0;
}

.poshSelect {
    border-radius: 50px;
    border: 1px solid $grey;
    padding: 10px 16px;
    background: none;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    transition: .2s;
    flex-grow: 1;

    &::placeholder {
        color: $grey;
    }

    &:focus {
        outline: 1px solid $primary;
    }
}
